body { background: rgb(243,243,243); font-family: arial,helvetica,sans-serif; }
#leht {background: rgb(243,243,243); display:block; position: relative; width:1000px; 
margin-left: auto; margin-right: auto;}    
   #pais {background: rgb(0,200,200); height: 69px;border: solid 1px rgba(100,100,100,0.9); border-radius: 15px;}
      #pohilogo {display:inline;  position: relative ; top: -113px; left : 4px;} 
      .nooleke, .noolekealla, #noolekeallasuur{display:inline; position: absolute ;right: 10px; padding-top: 2px;}   
      .noolekealla {padding-top: 6px; }
      
      
      #ylemenu {vertical-align: middle; display: inline-block; position: relative; background: url(menuuv3.png) repeat-x ; background-size: contain; text-align: center; 
      border: solid 1px rgba(90,120,0,0.9); border-radius: 15px;min-width: 1000px; margin-bottom: 2px; margin-top: 2px;}
      #ylemenu ul {margin-bottom: 4px; margin-top: 4px;padding-left: 190px;}
      #ylemenu li {display: inline; list-style-type: none; }
      #ylemenu ul li a {color: rgb(255,69,0); font-size: 18px; text-decoration: none; 
      padding: 4px; padding-left: 17px; padding-right: 17px;
      font-weight: bold;margin: 0px;  text-align: center; max-height: 40px;}
      #ylemenu ul li a:hover {background:rgba(255,255,255,0.62); border-radius: 2px;color:rgba(112,109,3,1); }
      
      
      #ostukorv{position: absolute ;  right : 4px; top: 25px;display: block; float: right; height:40px; width:200px; 
      background:rgb(120,220,0); border: solid 1px rgba(100,100,100,0.9); border-radius: 30px; }
      #noolekeallasuur{padding-top: 9px; }
      #ostukorv1 {float: right; padding: 0px;}  
      #ostukorv1 a{position: relative ;top : -48px;  float: left;display:inline-block; font-size: 25px; text-decoration: none;font-weight: 600; 
      color: rgb(60,60,60); padding-top: 10px; padding-bottom: 6px; padding-left: 55px;padding-right: 36px;} 
      #ostukorv1 a:hover {color:rgb(0,0,0); background: rgba(250,250,0,0.3); border-radius: 20px;}  
      
      #kasutajamenuu{float: right;margin:2px;}
      #kasutajamenuu a{color: rgb(60,60,60);font-size: 17px; text-decoration: none;}
      
      #otsing{display:inline-block; position: absolute; right: 350px; padding-top: 20px;}
      #otsingukast2{ border-radius: 15px; border-top-right-radius: 0px; border-bottom-right-radius: 0px;
      height: 23px; font-size: 17px;}
      #otsingunupp {float: right; position: relative; right: 5px; 
      border-radius: 15px; border-top-left-radius: 0px; border-bottom-left-radius: 0px;
      height: 29px; font-size: 17px; padding-top: 3px;
      padding-right: 10px; background: rgb(150,255,0); font-weight: 600;}
       
       
         
#pea{padding:4px;padding-top: 10px;float:right; background:rgb(200,250,150); width: 769px; 
      border: solid 1px rgba(100,100,100,0.9); border-radius: 15px; display:inline-block;
      margin: 2px; margin-right:0px;}
        
        
      #kkk {padding: 10px;}
      #kkk div{font-weight: 500; font-size:25px;}   
      #kkk span{font-weight: 600;}
      #kkk p{ text-align: justify;}  
      
      #kontaktid {padding: 10px;} 
      #kontaktid span{font-weight: 500; font-size:25px;}
      #kontaktid td{padding: 4px 10px;}
      
      #sisselogimine {padding: 10px;} 
      #sisselogimine span{font-weight: 500; font-size:25px;}
      #sisselogimine a {text-decoration: none; color: rgb(240,50,20); }
      #sisselogimine a:hover {color: rgb(240,0,240); background: rgba(255,255,255,0.4); }
      #sisselogimine input {font-size: 16px; margin: 3px;}
        
    #soovitused, #eripakkumised {padding:5px; border: solid 1px rgba(100,100,100,0.9); border-radius: 15px; }     
       #soovitused h2, #eripakkumised h2{font-size: 20px;margin:3px; margin-top: 0px; color:rgb(250,70,0);font-weight: 600;}
           .soovitus{display:inline-block;border: solid 1px rgba(100,100,100,0.9); border-radius: 15px;
           padding:6px; height:365px; position:relative; top:0px ;font-weight: 600; 
           background:rgb(230,240,230);color: rgb(70,70,70); }
           .soovitus a{text-decoration: none;}
           
           .uushind5,.vanahind5, .hind, .tootehind, .vanahind, .tootevanahind{padding-left: 4px; color: rgb(250,70,0); 
           font-size: 20px; text-decoration: none;font-weight: 600;  }
           .hind, .vanahind{position: absolute; bottom: 0px;}
           .vanahind, .vanahind5{position:relative; float:right; bottom: 18px;color: rgb(110,110,110);
           text-decoration: line-through; left:-150px;font-size: 17px; }
           .vanahind{position: absolute;bottom:18px;left:20px;}
           .tootevanahind {position:relative;float:left; bottom: -263px;color: rgb(110,110,110);
           text-decoration: line-through; left:-115px;font-size: 19px;}
           
           .tootenimi{color: rgb(250,70,0); font-size: 20px; text-decoration: none;font-weight: 700;  }
           
           .lisaostukorvi2{position: absolute ;  bottom : 7px; right:3px; display: block; float: right; 
             height:25px; width:120px;padding: 0px; 
             background:url(menuuv3.png)repeat-x ; background-size: contain; 
             border-radius: 30px; border: 1px solid rgb(120,120,120);}
           .lisaostukorvi2 a{text-decoration: none; font-size: 15px;font-weight: 600;
             padding: 4px 5px; height: 20px;float:left;  display: block; color: rgb(60,60,60); }
           .lisaostukorvi2 a:hover{color:rgb(250,0,250); cursor:pointer;}

    #tooteleht{}
        .tootepealkiri5, .tootepealkiri{color: rgb(250,100,0); font-size: 26px; text-decoration: none;font-weight: 700;}
        #tooteleht table, #tooteleht td, #tooteleht th{border: solid 1px rgba(255,255,255,0.9);
        border-collapse: collapse;padding:4px;}
        #tooteleht tr{background: white;}
        #tooteleht tr:nth-child(even){background: rgb(180,180,180);}
        #tootepildid {display: inline-block; width: 380px;}
            #tootepeapilt{margin-left:72px; margin-right: 72px;}
            .tootekorvalpildid{margin:1px;}
            #tootepildid img {border: solid 1px rgba(0,0,0,1);}
            #tootepildid div div{float:left;}
            div.suurpilt{ position:absolute; top: 108px; right: 0px;float:left; display: none;}
            
            
            
            
            
            
        #kirjeldusjahind{height: 360px;float:right; display: inline-block;width: 380px;}
            #kirjeldus {position:relative; top: -30px; display: inline-block;}       
            .tootehind{position:relative; bottom: -250px; display: inline-block;width: 380px; 
            color: rgb(250,80,0);}
            .lisaostukorvi1, .lisaostukorvi5{position: relative ;  bottom : -320px; display: block; float: left; 
             height:30px; width:190px;padding: 0px; 
             background:url(menuuv3.png)repeat-x ; background-size: contain; 
             border-radius: 30px; border: 1px solid rgb(120,120,120);}
            .lisaostukorvi1 a, .lisaostukorvi5 a{text-decoration: none; font-size: 21px;font-weight: 600;
             padding: 10px 20px;  padding-right: 19px; height: 20px;float:left; position:relative; display: block;
             top : -6px;   color: rgb(60,60,60); }
             .lisaostukorvi1 a:hover, .lisaostukorvi5 a:hover{color:rgb(250,0,250); cursor:pointer;}
        
     
       #tootekat5{font-size: 16px; margin-top: -3px;  padding-bottom: 6px;}
       #tootekat5 a{color: rgb(0,0,0);  text-decoration: none;}
       #tootekat5 a:hover{color: rgb(255,120,0);}
       
       
       
       
       
       
       
       .lehenr{font-size: 20px; display:block; text-align: right; padding: 10px; padding-top: 0px;} 
              
       .lehenresimene, .lehenrlink, .lehenrlinknool1, .lehenrlinknool2, .lehenrviimane {
	       height: 25px; display: inline-block; border: 1px black solid ; border-radius: 2px;
	       background: rgb(235,235,235);vertical-align: top; }
          
       
            
       .lehenrlinknool1, .lehenrlinknool2 { width: 30px;}
       .lehenrlinknool1 a, .lehenrlinknool2 a {position:relative; padding-top:1px;padding-bottom:3px;vertical-align: top;}
       .lehenrlinknool1 a img, .lehenrlinknool2 a img {padding: 2px 4px 2px 4px;}     
       .lehenrlinknool1 a {top:0px;}
       .lehenrlinknool2 a {bottom:0px;}
       
     
       .lehenresimene, .lehenrlink, .lehenrviimane {text-align: center;}
       .lehenresimene a, .lehenrviimane a {vertical-align: middle;color: rgb(0,0,0);  text-decoration: none;
       padding: 2px 10px; }
       
       .lehenrlink {vertical-align: middle;color: rgb(0,0,0);  text-decoration: none;
       padding: 0px 10px; }
       
       
       .lehenresimene a:hover, .lehenrlinknool1 a:hover, .lehenrlinknool2 a:hover, .lehenrviimane a:hover{
	       background: rgba(120,120,120,0.5);}
	   .spacer{height: 25px; display: inline-block; vertical-align: top;  width: 40px; }
	       
	  
       .lehenrlink { background: rgb(230,255,0);}   
       .lehenrlink  a{color: rgb(0,0,0);}   
       #mituleiti {text-align: center;margin:0px; font-size: 19px;}
        
         
	      .leheseaded{font-size: 20px; display:inline-block; text-align: left; margin:2px 0px;}   
	      .leheseaded2{position:relative;float:right;font-size: 20px; display:inline-block; right:0px;text-align: right; margin:2px 0px;} 
	       
	      .tooteidlehel a img, .tooteidlehelhov a img{padding-left:1px; padding-right:1px;}
	      .tooteidlehel {background: rgb(235,235,60);} 
	      
	      .tooteidlehel, .tooteidlehelhov  {height: 25px;display: inline-block; border: 1px black solid ; border-radius: 2px; }
       
          .tooteidlehel, .tooteidlehelhov {text-align: center;}
          .tooteidlehel a, .tooteidlehelhov a {vertical-align: middle;color: rgb(0,0,0);  text-decoration: none; padding: 1px 6px 3px 6px; }
          .tooteidlehel a {padding: 1px 6px 3px 6px;}
          .tooteidlehel a:hover {background: rgb(150,150,20);} 
       
          .tooteidlehelhov {background: rgb(150,150,20);}
          .tooteidlehelhov a {padding: 0px 6px 2px 6px; background: rgb(150,150,20);}
	       

       
        .toode{border: 1px black solid ; border-radius: 10px; padding: 10px; background:rgb(245,255,245);
        margin-bottom: 4px;}      
       .tootepilt5{display:inline-block; float:left;}
       .kast5{display:inline-block; width: 570px; height:180px;}
       .tootepealkiri5{font-size:22px; padding: 10px; text-decoration: none;}
       .tootepealkiri5 a{ text-decoration: none; color: rgb(250,100,0)}
       .kirjeldus5{display: inline-block;padding: 2px 10px;}
       .vanahind5{padding: 60px 10px; padding-right: 90px; text-align: right;}
       .uushind5{padding: 60px 10px; padding-right: 250px; text-align: right;}
       .lisaostukorvi5 {position: relative; top:-100px; right: -370px;}
       .toode5 {position: relative; top: 200px; display: block; float: right;
       width:700px; height: 180px; background: yellow;}
       .toode5:hover { background: green;}
       
       #veateade{text-align: center; font-size: 28px; padding: 18px; color: rgb(255,70,0);}      
   
#vasakserv {  display: inline-block; background: rgb(50,50,50); ; width: 213px;
       border: solid 1px rgba(192,192,192,0.9); border-radius: 15px; height: 650px;}
    
           

#kuljemenuu {display: inline-block; width: 211px; position: relative; top: -116px;  
      text-align: left; padding: 0px; margin-bottom: 2px; margin-top: 2px;}
#kuljemenuu ul {width: 200px; padding-left: 0px; margin: 2px; margin-left: 10px;}
#kuljemenuu ul.level2 li ul {display:none; width: 160px; position: relative; top: -28px; 
      left : 163px; float:right; padding-left:0px;}  
      
#kuljemenuu li { background: url(menuuv4.png) repeat-x ; background-size: contain;
      list-style-type: none; border: solid 1px rgba(100,100,100,0.9);
      padding-top: 0px; padding-bottom: 0px; margin-bottom: 1px; margin-left: 0px; 
      margin-top: 1px;border-radius: 3px;} 
      
#kuljemenuu a { display:block; color: rgb(50,50,50); font-size: 12px; text-decoration: none;
       padding: 5px; padding-left: 17px; font-weight: 600; margin: 0px; text-align: justify; }  
      
        
#kuljemenuu .level1  { margin-left: 0px ; font-size: 17px; margin-top:20px;  margin-bottom:4px;}
#kuljemenuu .level1 li {width: 209px;}
#kuljemenuu .level1 li a {padding-left:11px; margin-top:1px;margin-bottom:1px;}     
#kuljemenuu .level1 li:hover {background: rgba(255,255,255,1);} 
#kuljemenuu .level2 li:hover                {background: rgba(255,255,255,1); }      
#kuljemenuu .level2 li:hover ul             {display:inline-block; margin-bottom: -500px;}
#kuljemenuu .level2 li:hover ul li ul       {display:none;}
#kuljemenuu .level2 li:hover ul li:hover ul {display:block;}
#kuljemenuu .level2 li:hover ul li:hover ul li ul {display:none;}
#kuljemenuu .level2 li:hover ul li:hover ul li:hover ul {display:block;}



#ostukorvsuur {border: solid 1px rgba(20,20,20,0.9); border-radius: 15px; text-align: center;}
#ostukorvsuur table, #ostukorvsuur td, #ostukorvsuurt th {border: solid 1px rgba(20,20,20,0.9); border-collapse: collapse;
              font-size:21px; padding:0px;}
            
#ostukorvsuur tr{background: white;}
#ostukorvsuur tr:first-child {border: solid 1px rgba(20,20,20,0.9);}
#ostukorvsuur tr:nth-child(even){background: rgb(180,180,180);}
 
#ostukorvsuur tr:nth-child(1){background: rgb(255,255,255);}
#ostukorvsuur td:nth-child(2){padding: 10px; max-width:180px;}
#ostukorvsuur td:nth-child(3){padding: 10px;}
#ostukorvsuur td:nth-child(4){padding: 10px; }
#ostukorvsuur td:nth-child(5){padding: 10px;}
#ostukorvsuur td:nth-child(6){padding: 10px; color: rgb(250,10,10);}
#ostukorvsuur td:first-child{background: rgb(255,255,255); vertical-align:middle;}
#ostukorvsuur tr:last-child td:first-child, #ostukorvsuur tr:last-child{background: rgb(0,255,255);} 
#ostukorvsuur tr:last-child td:nth-child(n){border:0px}
#ostukorvsuur tr:last-child {border: solid 1px rgba(20,20,20,0.9);}
.pad1 a{color: black; text-decoration: none;}
.mitutk{display: inline;}


#ostukorvsuur table {display:inline-block; text-align: center;}
.pad1 td, .pad1 table, .pad1 th, .pad1  {padding: 0px 10px; margin:0px;}

.suurem {font-size: 21px; }
.eemaldatoode{color: rgb(250,10,10); font-size: 20px; cursor:pointer;}
.eemaldatoode:hover {color: rgb(255,150,0)}
#paljutooteidkorvis {display:inline;}
#korvituhjendaja, #tellimusekustutaja {display:inline;}
#korvituhjendaja:hover, #tellimusekustutaja:hover{cursor:pointer; color: rgb(255,152,0);}

.passiivne a:hover{cursor:pointer; background: rgba(235,235,235,0);}



#teade {border: solid 1px rgba(20,20,20,0.9); border-radius: 15px; background: orange; padding:30px;
       display:none; float:right; position:fixed; top:50%; left:50%; font-size: 25px; text-align: center;}
       
       
#tooteinfotabelttttttttttttttttttttttttttttt {display:block;align:center;}
#tooteinfotabel input {width: 100%;}
#sisestakirjeldus {width: 99%; max-width:732px; height:100px;}
.vajalik {background: rgb(235,235,255);}

#tellimuseinfo1 {display:none;}