 <div id="vasakserv">
        <a href="?mode=pea"> <img id="pohilogo" src="logov6.png" height="205" alt="logo"/> </a>
        <div id="kuljemenuu">
           <ul class="level1">  
               <li>
               <a class="level1" href="?mode=tooted&amp;pos=Arvuti%20komponendid"> Arvuti komponendid  <img class="noolekealla" src="nool1alla.png" height="10" alt="nool"/> </a>
               </li>
           </ul> 
           <ul class="level2">  
               <li>
               <a href="?mode=tooted&amp;pos=Arvuti%20komponendid/Protsessorid"> • Protsessorid  <img class="nooleke" src="nool1.png" height="10" alt="nool"/> </a>
               <ul> 
                   <li>
                   <a href="?mode=tooted&amp;pos=Arvuti%20komponendid/Protsessorid/Intel"> • Intel <img class="nooleke" src="nool1.png" height="10" alt="nool"/> </a>
                   <ul> 
                        <li>
                        <a href="?mode=tooted&amp;pos=Arvuti%20komponendid/Protsessorid/Intel/LGA1150"> • LGA1150  </a>
                        </li>
                        <li>
                        <a href="?mode=tooted&amp;pos=Arvuti%20komponendid/Protsessorid/Intel/LGA1155"> • LGA1155  </a>
                        </li>
                        <li>
                        <a href="?mode=tooted&amp;pos=Arvuti%20komponendid/Protsessorid/Intel/LGA2011"> • LGA2011  </a>
                        </li>
                        <li>
                        <a href="?mode=tooted&amp;pos=Arvuti%20komponendid/Protsessorid/Intel/LGA2011%2DV3"> • LGA2011-V3  </a>
                        </li>
                    </ul>                   
                    </li>
                    <li>
                    <a href="?mode=tooted&amp;pos=Arvuti%20komponendid/Protsessorid/AMD"> • AMD <img class="nooleke" src="nool1.png" height="10" alt="nool"/> </a>
                    <ul> 
                        <li>
                        <a href="?mode=tooted&amp;pos=Arvuti%20komponendid/Protsessorid/AMD/SOCKET%20AM1"> • SOCKET AM1   </a>
                        </li>
                        <li>
                        <a href="?mode=tooted&amp;pos=Arvuti%20komponendid/Protsessorid/AMD/SOCKET%20AM3%2B"> • SOCKET AM3+  </a>
                        </li>
                        <li>
                        <a href="?mode=tooted&amp;pos=Arvuti%20komponendid/Protsessorid/AMD/SOCKET%20FM2"> • SOCKET FM2   </a>
                        </li>
                        <li>
                        <a href="?mode=tooted&amp;pos=Arvuti%20komponendid/Protsessorid/AMD/SOCKET%20FM2%2B"> • SOCKET FM2+  </a>
                        </li>
                    </ul>  
                    </li>
                </ul>
                </li>   
                <li>
                <a href="?mode=tooted&amp;pos=Arvuti%20komponendid/Emaplaadid"> • Emaplaadid <img class="nooleke" src="nool1.png" height="10" alt="nool"/> </a>
                <ul> 
                    <li>
                    <a href="?mode=tooted&amp;pos=Arvuti%20komponendid/Emaplaadid/ATX"> • ATX <img class="nooleke" src="nool1.png" height="10" alt="nool"/> </a>
                    <ul> 
                        <li>
                        <a href="?mode=tooted&amp;pos=Arvuti%20komponendid/Emaplaadid/ATX/Intel"> • Intel  <img class="nooleke" src="nool1.png" height="10" alt="nool"/></a>
                        <ul> 
                             <li>
                             <a href="?mode=tooted&amp;pos=Arvuti%20komponendid/Emaplaadid/ATX/Intel/LGA1150"> • LGA1150  </a>
                             </li>
                             <li>
                             <a href="?mode=tooted&amp;pos=Arvuti%20komponendid/Emaplaadid/ATX/Intel/LGA1155"> • LGA1155  </a>
                             </li>
                             <li>
                             <a href="?mode=tooted&amp;pos=Arvuti%20komponendid/Emaplaadid/ATX/Intel/LGA2011"> • LGA2011  </a>
                             </li>
                             <li>
                             <a href="?mode=tooted&amp;pos=Arvuti%20komponendid/Emaplaadid/ATX/Intel/LGA2011%2DV3"> • LGA2011-V3  </a>
                             </li>
                         </ul>
                         </li>
                         <li>
                         <a href="?mode=tooted&amp;pos=Arvuti%20komponendid/Emaplaadid/ATX/AMD"> • AMD  <img class="nooleke" src="nool1.png" height="10" alt="nool"/> </a>
                         <ul> 
                             <li>
                             <a href="?mode=tooted&amp;pos=Arvuti%20komponendid/Emaplaadid/ATX/AMD/SOCKET%20AM1"> • SOCKET AM1  </a>
                             </li>
                             <li>
                             <a href="?mode=tooted&amp;pos=Arvuti%20komponendid/Emaplaadid/ATX/AMD/SOCKET%20AM3%2B"> • SOCKET AM3+  </a>
                             </li>
                             <li>
                             <a href="?mode=tooted&amp;pos=Arvuti%20komponendid/Emaplaadid/ATX/AMD/SOCKET%20FM2"> • SOCKET FM2  </a>
                             </li>
                             <li>
                             <a href="?mode=tooted&amp;pos=Arvuti%20komponendid/Emaplaadid/ATX/AMD/SOCKET%20FM2%2B"> • SOCKET FM2+  </a>
                             </li>
                         </ul>
                         </li>
                     </ul>                   
                     </li>
                     <li>
                     <a href="?mode=tooted&amp;pos=Arvuti%20komponendid/Emaplaadid/Micro%2DATX"> • Micro-ATX <img class="nooleke" src="nool1.png" height="10" alt="nool"/> </a>
                     <ul> 
                         <li>
                         <a href="?mode=tooted&amp;pos=Arvuti%20komponendid/Emaplaadid/Micro%2DATX/Intel"> • Intel  <img class="nooleke" src="nool1.png" height="10" alt="nool"/></a>
                         <ul> 
                             <li>
                             <a href="?mode=tooted&amp;pos=Arvuti%20komponendid/Emaplaadid/Micro%2DATX/Intel/LGA1150"> • LGA1150  </a>
                             </li>
                             <li>
                             <a href="?mode=tooted&amp;pos=Arvuti%20komponendid/Emaplaadid/Micro%2DATX/Intel/LGA1155"> • LGA1155  </a>
                             </li>
                             <li>
                             <a href="?mode=tooted&amp;pos=Arvuti%20komponendid/Emaplaadid/Micro%2DATX/Intel/LGA2011"> • LGA2011  </a>
                             </li>
                             <li>
                             <a href="?mode=tooted&amp;pos=Arvuti%20komponendid/Emaplaadid/Micro%2DATX/Intel/LGA2011%2DV3"> • LGA2011-V3  </a>
                             </li>
                         </ul>
                         </li>
                         <li>
                         <a href="?mode=tooted&amp;pos=Arvuti%20komponendid/Emaplaadid/Micro%2DATX/AMD"> • AMD  <img class="nooleke" src="nool1.png" height="10" alt="nool"/></a>
                         <ul> 
                             <li>
                             <a href="?mode=tooted&amp;pos=Arvuti%20komponendid/Emaplaadid/Micro%2DATX/AMD/SOCKET%20AM1"> • SOCKET AM1  </a>
                             </li>
                             <li>
                             <a href="?mode=tooted&amp;pos=Arvuti%20komponendid/Emaplaadid/Micro%2DATX/AMD/SOCKET%20AM3%2B"> • SOCKET AM3+  </a>
                             </li>
                             <li>
                             <a href="?mode=tooted&amp;pos=Arvuti%20komponendid/Emaplaadid/Micro%2DATX/AMD/SOCKET%20FM2"> • SOCKET FM2  </a>
                             </li>
                             <li>
                             <a href="?mode=tooted&amp;pos=Arvuti%20komponendid/Emaplaadid/Micro%2DATX/AMD/SOCKET%20FM2%2B"> • SOCKET FM2+  </a>
                             </li>
                          </ul>
                          </li>
                      </ul>       
                      </li>
                      <li>
                      <a href="?mode=tooted&amp;pos=Arvuti%20komponendid/Emaplaadid/Mini%2DITX"> • Mini-ITX <img class="nooleke" src="nool1.png" height="10" alt="nool" /> </a>
                      <ul> 
                         <li>
                         <a href="?mode=tooted&amp;pos=Arvuti%20komponendid/Emaplaadid/Mini%2DITX/Intel"> • Intel  <img class="nooleke" src="nool1.png" height="10" alt="nool"/></a>
                         <ul> 
                             <li>
                             <a href="?mode=tooted&amp;pos=Arvuti%20komponendid/Emaplaadid/Mini%2DITX/Intel/LGA1150"> • LGA1150  </a>
                             </li>
                             <li>
                             <a href="?mode=tooted&amp;pos=Arvuti%20komponendid/Emaplaadid/Mini%2DITX/Intel/LGA1155"> • LGA1155  </a>
                             </li>
                         </ul>
                         </li>
                         <li>
                         <a href="?mode=tooted&amp;pos=Arvuti%20komponendid/Emaplaadid/Mini%2DITX/AMD"> • AMD  <img class="nooleke" src="nool1.png" height="10" alt="nool"/></a>
                         <ul> 
                             <li>
                             <a href="?mode=tooted&amp;pos=Arvuti%20komponendid/Emaplaadid/Mini%2DITX/AMD/SOCKET%20AM1"> • SOCKET AM1  </a>
                             </li>
                             <li>
                             <a href="?mode=tooted&amp;pos=Arvuti%20komponendid/Emaplaadid/Mini%2DITX/AMD/SOCKET%20AM3%2B"> • SOCKET AM3+  </a>
                             </li>
                             <li>
                             <a href="?mode=tooted&amp;pos=Arvuti%20komponendid/Emaplaadid/Mini%2DITX/AMD/SOCKET%20FM2"> • SOCKET FM2  </a>
                             </li>
                             <li>
                             <a href="?mode=tooted&amp;pos=Arvuti%20komponendid/Emaplaadid/Mini%2DITX/AMD/SOCKET%20FM2%2B"> • SOCKET FM2+  </a>
                             </li>
                         </ul>
                         </li>
                     </ul>       
                     </li>
                 </ul>
                 </li>
                 <li>
                 <a href="?mode=tooted&amp;pos=Arvuti%20komponendid/K%C3%B5vakettad%28HDD%29"> • Kõvakettad(HDD) <img class="nooleke" src="nool1.png" height="10" alt="nool"/> </a>
                 <ul> 
                     <li>
                     <a href="?mode=tooted&amp;pos=Arvuti%20komponendid/K%C3%B5vakettad%28HDD%29/HDD"> • HDD <img class="nooleke" src="nool1.png" height="10" alt="nool"/> </a>
                     <ul> 
                         <li>
                         <a href="?mode=tooted&amp;pos=Arvuti%20komponendid/K%C3%B5vakettad%28HDD%29/HDD/3%2C5%22"> • 3,5"  </a>
                         </li>
                         <li>
                         <a href="?mode=tooted&amp;pos=Arvuti%20komponendid/K%C3%B5vakettad%28HDD%29/HDD/2%2C5%22"> • 2,5"  </a>
                         </li>
                     </ul> 
                     </li>
                     <li>
                     <a href="?mode=tooted&amp;pos=Arvuti%20komponendid/K%C3%B5vakettad%28HDD%29/SDD"> • SSD  </a>
                     </li>
                 </ul>          
                 </li>
                 <li>
                 <a href="?mode=tooted&amp;pos=Arvuti%20komponendid/Graafikakaardid"> • Graafikakaardid <img class="nooleke" src="nool1.png" height="10" alt="nool"/> </a>
                 <ul> 
                     <li>
                     <a href="?mode=tooted&amp;pos=Arvuti%20komponendid/Graafikakaardid/Nvidia"> • Nvidia  </a>
                     </li>
                     <li>
                     <a href="?mode=tooted&amp;pos=Arvuti%20komponendid/Graafikakaardid/AMD"> • AMD  </a>
                     </li>
                 </ul>
                 </li>
                 <li>
                 <a href="?mode=tooted&amp;pos=Arvuti%20komponendid/M%C3%A4lud%28RAM%29"> • Mälud(RAM) <img class="nooleke" src="nool1.png" height="10" alt="nool"/> </a>
                 <ul> 
                     <li>
                     <a href="?mode=tooted&amp;pos=Arvuti%20komponendid/M%C3%A4lud%28RAM%29/DDR4"> • DDR4  </a>                  
                     </li>
                     <li>
                     <a href="?mode=tooted&amp;pos=Arvuti%20komponendid/M%C3%A4lud%28RAM%29/DDR3"> • DDR3  </a>
                     </li>
                     <li>
                     <a href="?mode=tooted&amp;pos=Arvuti%20komponendid/M%C3%A4lud%28RAM%29/DDR2"> • DDR2  </a>
                     </li>
                 </ul>
                 </li>
                 <li>     
                 <a href="?mode=tooted&amp;pos=Arvuti%20komponendid/Korpused"> • Korpused <img class="nooleke" src="nool1.png" height="10" alt="nool"/> </a>
                 <ul> 
                     <li>
                     <a href="?mode=tooted&amp;pos=Arvuti%20komponendid/Korpused/ATX"> • ATX  </a>                  
                     </li>
                     <li>
                     <a href="?mode=tooted&amp;pos=Arvuti%20komponendid/Korpused/Micro%2DATX"> • Micro-ATX  </a>
                     </li>
                     <li>
                     <a href="?mode=tooted&amp;pos=Arvuti%20komponendid/Korpused/Mini%2DITX"> • Mini-ITX  </a>
                     </li>
                 </ul>
                 </li>
                 <li>
                 <a href="?mode=tooted&amp;pos=Arvuti%20komponendid/Toiteplokid%28PSU%29"> • Toiteplokid(PSU) <img class="nooleke" src="nool1.png" height="10" alt="nool"/> </a>
                 <ul> 
                     <li>
                     <a href="?mode=tooted&amp;pos=Arvuti%20komponendid/Toiteplokid%28PSU%29/0%20%2D%20199W"> • 0 - 199W  </a>                  
                     </li>
                     <li>
                     <a href="?mode=tooted&amp;pos=Arvuti%20komponendid/Toiteplokid%28PSU%29/200W%20%2D%20399W"> • 200W - 399W </a>
                     </li>
                     <li>
                     <a href="?mode=tooted&amp;pos=Arvuti%20komponendid/Toiteplokid%28PSU%29/400W%20%2D%20599W"> • 400W - 599W  </a>
                     </li>
                     <li>
                     <a href="?mode=tooted&amp;pos=Arvuti%20komponendid/Toiteplokid%28PSU%29/600W%20%2D%20799W"> • 600W - 799W  </a>
                     </li>
                     <li>
                     <a href="?mode=tooted&amp;pos=Arvuti%20komponendid/Toiteplokid%28PSU%29/800W%20%2D%20999W"> • 800W - 999W  </a>
                     </li>
                     <li>
                     <a href="?mode=tooted&amp;pos=Arvuti%20komponendid/Toiteplokid%28PSU%29/1000W%20%2D%201199W"> • 1000W - 1199W  </a>
                     </li>
                     <li>
                     <a href="?mode=tooted&amp;pos=Arvuti%20komponendid/Toiteplokid%28PSU%29/1200W%20%2D%201399W"> • 1200W - 1399W  </a>
                     </li>
                     <li>
                     <a href="?mode=tooted&amp;pos=Arvuti%20komponendid/Toiteplokid%28PSU%29/1400W%20%2D%201600W"> • 1400W - 1600W  </a>
                     </li>
                 </ul>
                 </li>
                 <li>
                 <a href="?mode=tooted&amp;pos=Arvuti%20komponendid/Jahutid"> • Jahutid <img class="nooleke" src="nool1.png" height="10" alt="nool"/> </a>
                 <ul> 
                     <li>
                     <a href="?mode=tooted&amp;pos=Arvuti%20komponendid/Jahutid/Ventilaatorid"> • Ventilaatorid <img class="nooleke" src="nool1.png" height="10" alt="nool"/> </a>                  
                     <ul> 
                         <li>
                         <a href="?mode=tooted&amp;pos=Arvuti%20komponendid/Jahutid/Ventilaatorid/92mm"> • 92mm  </a>                  
                         </li>
                         <li>
                         <a href="?mode=tooted&amp;pos=Arvuti%20komponendid/Jahutid/Ventilaatorid/120mm"> • 120mm  </a>
                         </li>
                         <li>
                         <a href="?mode=tooted&amp;pos=Arvuti%20komponendid/Jahutid/Ventilaatorid/140mm"> • 140mm  </a>
                         </li>
                     </ul>
                     </li>
                     <li>
                     <a href="?mode=tooted&amp;pos=Arvuti%20komponendid/Jahutid/CPU%20radiaatorid"> • CPU radiaatorid  </a>
                     </li>
                 </ul>
                 </li>
                 <li>
                 <a href="?mode=tooted&amp;pos=Arvuti%20komponendid/Laienduskaardid"> • Laienduskaardid <img class="nooleke" src="nool1.png" height="10" alt="nool"/> </a>
                 <ul> 
                     <li>
                     <a href="?mode=tooted&amp;pos=Arvuti%20komponendid/Laienduskaardid/V%C3%B5rgukaardid"> • Võrgukaardid  </a>                  
                     </li>
                     <li>
                     <a href="?mode=tooted&amp;pos=Arvuti%20komponendid/Laienduskaardid/TV%2Dkaardid"> • TV-kaardid  </a>
                     </li>
                 </ul>
                 </li>
             </ul>
         
   <!--siin loppeb arvutisiseste komponentide menuu-->

   
   
           
   
   
      

           <ul class="level1">  
               <li>
               <a class="level1" href="?mode=tooted&amp;pos=Arvuti%20lisaseadmed"> Arvuti lisaseadmed  <img class="noolekealla" src="nool1alla.png" height="10" alt="nool"/> </a>
               </li>
           </ul> 
           <ul class="level2">  
               <li>
               <a href="?mode=tooted&amp;pos=Arvuti%20lisaseadmed/Monitorid"> • Monitorid  <img class="nooleke" src="nool1.png" height="10" alt="nool"/> </a>
               <ul> 
                    <li>
                    <a href="?mode=tooted&amp;pos=Arvuti%20lisaseadmed/Monitorid/%3C%2020%22"> • &lt; 20"  </a>              
                    </li>
                    <li>
                    <a href="?mode=tooted&amp;pos=Arvuti%20lisaseadmed/Monitorid/21%22%20%2D%2025%22"> • 21" - 25" </a>
                    </li>
                    <li>
                    <a href="?mode=tooted&amp;pos=Arvuti%20lisaseadmed/Monitorid/26%22%20%2D%2030%22"> • 26" - 30" </a>
                    </li>
                    <li>
                    <a href="?mode=tooted&amp;pos=Arvuti%20lisaseadmed/Monitorid/31%22%20%3C"> • 31" &lt;   </a>
                    </li>
                </ul>    
                </li>   
                <li>
                <a href="?mode=tooted&amp;pos=Arvuti%20lisaseadmed/Hiired"> • Hiired <img class="nooleke" src="nool1.png" height="10" alt="nool"/> </a>
                <ul> 
                     <li>
                     <a href="?mode=tooted&amp;pos=Arvuti%20lisaseadmed/Hiired/Optilise%20sensoriga"> • Optilise sensoriga   </a>              
                     </li>
                     <li>
                     <a href="?mode=tooted&amp;pos=Arvuti%20lisaseadmed/Hiired/Laser%20sensoriga"> • Laser sensoriga  </a>
                     </li>
                 </ul>  
                 </li>
                 <li>
                 <a href="?mode=tooted&amp;pos=Arvuti%20lisaseadmed/Klaviatuurid"> • Klaviatuurid <img class="nooleke" src="nool1.png" height="10" alt="nool"/> </a>
                 <ul> 
                     <li>
                     <a href="?mode=tooted&amp;pos=Arvuti%20lisaseadmed/Klaviatuurid/Membraaniga"> • Membraaniga  </a>
                     </li>
                     <li>
                     <a href="?mode=tooted&amp;pos=Arvuti%20lisaseadmed/Klaviatuurid/Mehaanilised"> • Mehaanilised  </a>
                     </li>
                 </ul>          
                 </li>
                 <li>
                 <a href="?mode=tooted&amp;pos=Arvuti%20lisaseadmed/V%C3%A4lised%20k%C3%B5vakettad"> • Välised kõvakettad <img class="nooleke" src="nool1.png" height="10" alt="nool"/> </a>
                 <ul> 
                     <li>
                     <a href="?mode=tooted&amp;pos=Arvuti%20lisaseadmed/V%C3%A4lised%20k%C3%B5vakettad/2%2C5%22"> • 2,5"  </a>
                     </li>
                     <li>
                     <a href="?mode=tooted&amp;pos=Arvuti%20lisaseadmed/V%C3%A4lised%20k%C3%B5vakettad/3%2C5%22"> • 3,5"  </a>
                     </li>
                 </ul>
                 </li>
             </ul>
         </div>
   <!--siin loppeb arvutivaliste lisade menuu-->     
     </div> 
     
     
     
 
   
  </div>
 </body>
</html>