   

   <div id="kkk">
      <div>
      Siin leiad vastused kõige enam küsitud küsimustele:
      </div>
      <br>
      <?php foreach($kkk as $id => $kysimusvastus): ?>
      <span>
          <?php echo htmlspecialchars($kysimusvastus["kysimus"]);?>   
      </span>
      <p>
         "<?php echo htmlspecialchars($kysimusvastus["vastus"]);?>"
      </p>
      <br>
      <?php  endforeach ?>
      
   </div> 
  </div> <!--siin loppeb pea-->
   
  