   

   <div id="kontaktid">
      <span> Kontaktid: </span>
      <br>
      <br>
      <table>
         <?php foreach($kontaktid as $id => $kontakt): ?>
            <tr>
               <td><b><?php echo htmlspecialchars($kontakt["yldnimetus"]);?></b></td>
               <td><?php echo htmlspecialchars($kontakt["vastus"]);?></td>
            </tr>
         <?php  endforeach ?>  
      </table>

      <br>
   </div> 
           
   
   
   </div> <!--siin loppeb pea-->
   
  