<form action="?mode=lisatoode" method="POST">
  <br/> 
  <div style="color: rgb(255,100,100);">
  <?php if(!empty($veateated)){
           foreach($veateated as $id => $error){ 
               echo $error; 
           } 
  }?>
  </div>
 <div class="vajalik" style="display: inline;"> tekst </div> - helesinised alad on kindlasti tarvis ära täita
  <br/>
  <br/>
  <fieldset>
   <legend>Toote asukoht tootepuus</legend>
   <table>
     <tr>
         <td>Pealeht </td>
         <td><img class='nooleke5' src='nool1.png' height='12' alt='nooleke' /><input class="vajalik" type="text" name="positsioon1" value="<?php echo htmlspecialchars($toode['positsioon1']);?>"></td>
         <td><img class='nooleke5' src='nool1.png' height='12' alt='nooleke' /><input type="text" name="positsioon2" value="<?php echo htmlspecialchars($toode['positsioon2']);?>"></td>
         <td><img class='nooleke5' src='nool1.png' height='12' alt='nooleke' /><input type="text" name="positsioon3" value="<?php echo htmlspecialchars($toode['positsioon3']);?>"></td>
     </tr>
     <tr>
         <td><img class='nooleke5' src='nool1.png' height='12' alt='nooleke' /><input type="text" name="positsioon4" value="<?php echo htmlspecialchars($toode['positsioon4']);?>"></td>
         <td><img class='nooleke5' src='nool1.png' height='12' alt='nooleke' /><input type="text" name="positsioon5" value="<?php echo htmlspecialchars($toode['positsioon5']);?>"></td>
         <td><img class='nooleke5' src='nool1.png' height='12' alt='nooleke' /><input type="text" name="positsioon6" value="<?php echo htmlspecialchars($toode['positsioon6']);?>"></td>
         <td><img class='nooleke5' src='nool1.png' height='12' alt='nooleke' /><input type="text" name="positsioon7" value="<?php echo htmlspecialchars($toode['positsioon7']);?>"></td>
     </tr>  
   </table> 
   (Spikkrina saab kasutada vasakul asuvat menüüd)
  </fieldset>

  <br/>
  
  <fieldset>
   <legend>Info</legend>
   <table>
    <tr>
         <td>Toote ID:</td>
         <td><input class="vajalik" type="text" name="toote_id" value="<?php echo htmlspecialchars($toode['toote_id']);?>">(Üks sõna. Ainult väiketähed.)</td>
    </tr>
    <tr>
         <td>Toote nimetus:</td>
         <td><input class="vajalik" type="text" name="toote_nimetus" value="<?php echo htmlspecialchars($toode['toote_nimetus']);?>"></td>
    </tr>
    <tr>
         <td>Peapilt:</td>
         <td><input class="vajalik" type="text" name="pilt1" value="<?php echo htmlspecialchars($toode['pilt1']);?>">(Näiteks thumb/toodex.jpg)</td>
    </tr> 
    <tr>
         <td>Pilt2:</td>
         <td><input class="vajalik" type="text" name="pilt2" value="<?php echo htmlspecialchars($toode['pilt2']);?>">(Näiteks thumb/toodex2.jpg)</td>
    </tr> 
    <tr>
         <td>Pilt3:</td>
         <td><input class="vajalik" type="text" name="pilt3" value="<?php echo htmlspecialchars($toode['pilt3']);?>">(Näiteks thumb/toodex3.jpg)</td>
    </tr> 
    <tr>
         <td>Pilt4:</td>
         <td><input class="vajalik" type="text" name="pilt4" value="<?php echo htmlspecialchars($toode['pilt4']);?>">(Näiteks thumb/toodex4.jpg)</td>
    </tr> 
    <tr>
         <td>Vana hind:</td>
         <td><input type="text" name="vanahind" value="<?php echo htmlspecialchars($toode['vanahind']);?>">(Tekstina. Näiteks 199,99€)</td>
    </tr> 
    <tr>
         <td>Hind:</td>
         <td><input class="vajalik" type="text" name="hind" value="<?php echo htmlspecialchars($toode['hind']);?>">(Numbriline ja punktiga. Näiteks 199.99)</td>
    </tr>  
 </table> 
 </fieldset>
 
 <br/>
 
 <fieldset>
     <legend>Kirjeldus</legend>
     <textarea id="sisestakirjeldus" class="vajalik" name="kirjeldus"><?php echo htmlspecialchars($toode['kirjeldus']);?></textarea>
 </fieldset>
 
 <br/>
 
 <fieldset>
   <legend>Toote spetsifikatsioonid</legend>
   <table id="tooteinfotabel" style="width:100%">
    <tr>
         <th>Tunnus</th>
         <th>Väärtus</th>
    </tr> 
    <tr>
         <td><input class="vajalik" type="text" name="tabel1a" value="<?php echo htmlspecialchars($toode['tabel1a']);?>"></td>
         <td><input class="vajalik" type="text" name="tabel1b" value="<?php echo htmlspecialchars($toode['tabel1b']);?>"></td>  
    </tr> 
    <tr>
         <td><input class="vajalik" type="text" name="tabel2a" value="<?php echo htmlspecialchars($toode['tabel2a']);?>"></td>
         <td><input class="vajalik" type="text" name="tabel2b" value="<?php echo htmlspecialchars($toode['tabel2b']);?>"></td>
    <tr>
    <tr>
         <td><input class="vajalik" type="text" name="tabel3a" value="<?php echo htmlspecialchars($toode['tabel3a']);?>"></td>
         <td><input class="vajalik" type="text" name="tabel3b" value="<?php echo htmlspecialchars($toode['tabel3b']);?>"></td>  
    </tr> 
    <tr>
         <td><input type="text" name="tabel4a" value="<?php echo htmlspecialchars($toode['tabel4a']);?>"></td>
         <td><input type="text" name="tabel4b" value="<?php echo htmlspecialchars($toode['tabel4b']);?>"></td>
    <tr>  
    <tr>
         <td><input type="text" name="tabel5a" value="<?php echo htmlspecialchars($toode['tabel5a']);?>"></td>
         <td><input type="text" name="tabel5b" value="<?php echo htmlspecialchars($toode['tabel5b']);?>"></td>  
    </tr> 
    <tr>
         <td><input type="text" name="tabel6a" value="<?php echo htmlspecialchars($toode['tabel6a']);?>"></td>
         <td><input type="text" name="tabel6b" value="<?php echo htmlspecialchars($toode['tabel6b']);?>"></td>
    <tr>  
    <tr>
         <td><input type="text" name="tabel7a" value="<?php echo htmlspecialchars($toode['tabel7a']);?>"></td>
         <td><input type="text" name="tabel7b" value="<?php echo htmlspecialchars($toode['tabel7b']);?>"></td>  
    </tr> 
    <tr>
         <td><input type="text" name="tabel8a" value="<?php echo htmlspecialchars($toode['tabel8a']);?>"></td>
         <td><input type="text" name="tabel8b" value="<?php echo htmlspecialchars($toode['tabel8b']);?>"></td>
    <tr>  
    <tr>
         <td><input type="text" name="tabel9a" value="<?php echo htmlspecialchars($toode['tabel9a']);?>"></td>
         <td><input type="text" name="tabel9b" value="<?php echo htmlspecialchars($toode['tabel9b']);?>"></td>  
    </tr> 
    <tr>
         <td><input type="text" name="tabel10a" value="<?php echo htmlspecialchars($toode['tabel10a']);?>"></td>
         <td><input type="text" name="tabel10b" value="<?php echo htmlspecialchars($toode['tabel10b']);?>"></td>
    <tr>  
    <tr>
         <td><input type="text" name="tabel11a" value="<?php echo htmlspecialchars($toode['tabel11a']);?>"></td>
         <td><input type="text" name="tabel11b" value="<?php echo htmlspecialchars($toode['tabel11b']);?>"></td>  
    </tr> 
    <tr>
         <td><input type="text" name="tabel12a" value="<?php echo htmlspecialchars($toode['tabel12a']);?>"></td>
         <td><input type="text" name="tabel12b" value="<?php echo htmlspecialchars($toode['tabel12b']);?>"></td>
    <tr>  
    <tr>
         <td><input type="text" name="tabel13a" value="<?php echo htmlspecialchars($toode['tabel13a']);?>"></td>
         <td><input type="text" name="tabel13b" value="<?php echo htmlspecialchars($toode['tabel13b']);?>"></td>  
    </tr> 
    <tr>
         <td><input type="text" name="tabel14a" value="<?php echo htmlspecialchars($toode['tabel14a']);?>"></td>
         <td><input type="text" name="tabel14b" value="<?php echo htmlspecialchars($toode['tabel14b']);?>"></td>
    <tr>  
    <tr>
         <td><input type="text" name="tabel15a" value="<?php echo htmlspecialchars($toode['tabel15a']);?>"></td>
         <td><input type="text" name="tabel15b" value="<?php echo htmlspecialchars($toode['tabel15b']);?>"></td>  
    </tr> 
    <tr>
         <td><input type="text" name="tabel16a" value="<?php echo htmlspecialchars($toode['tabel16a']);?>"></td>
         <td><input type="text" name="tabel16b" value="<?php echo htmlspecialchars($toode['tabel16b']);?>"></td>
    <tr>  
    <tr>
         <td><input type="text" name="tabel17a" value="<?php echo htmlspecialchars($toode['tabel17a']);?>"></td>
         <td><input type="text" name="tabel17b" value="<?php echo htmlspecialchars($toode['tabel17b']);?>"></td>  
    </tr> 
    <tr>
         <td><input type="text" name="tabel18a" value="<?php echo htmlspecialchars($toode['tabel18a']);?>"></td>
         <td><input type="text" name="tabel18b" value="<?php echo htmlspecialchars($toode['tabel18b']);?>"></td>
    <tr>  
    <tr>
         <td><input type="text" name="tabel19a" value="<?php echo htmlspecialchars($toode['tabel19a']);?>"></td>
         <td><input type="text" name="tabel19b" value="<?php echo htmlspecialchars($toode['tabel19b']);?>"></td>  
    </tr> 
    <tr>
         <td><input type="text" name="tabel20a" value="<?php echo htmlspecialchars($toode['tabel20a']);?>"></td>
         <td><input type="text" name="tabel20b" value="<?php echo htmlspecialchars($toode['tabel20b']);?>"></td>
    </tr> 
   </table>  
   (Koolonit pole tunnuse lõppu vaja.) 
 </fieldset>       


<input type="submit" value="loo toode">
</form>   
   <br/>
   </div>
