<form method="GET" action="?mode">
  <br/>
  <input type="submit" name="mode" value="muuda toodet" style="position:relative; float:right;right:200px; font-size: 18px;">
  <select name="id" style="font-size: 18px; margin-left:270px;">
      <?php foreach($supermas as $id => $toode){ ?>
	      <option><?php echo $toode; ?></option>    
      <?php } ?> 
  </select>
 
</form>   
   
<br/>
   
</div>
