<div style="text-align: center;">
   <form method="GET" action="?mode">
       <input type="submit" name="mode" value="muuda kasutaja rolli" style="position:relative; top:180px;  font-size: 18px;">
       <br/>
       <input type="text" name="id" value="<?php echo htmlspecialchars($_GET["id"]); ?>" style="font-size: 18px;" readonly>
	   <table style="position:relative; top:50px; right:-280px; text-align: left;">
           <tr>
               <td>
                  <input type="radio" name="roll" value="tava" <?php if ($kasutajad[$_GET["id"]]["roll"] == tava) {echo "checked"; };?>>
               </td>
               <td>
                  Tavakasutaja
               </td>
           </tr>
           <tr>
               <td>
                  <input type="radio" name="roll" value="admin" <?php if ($kasutajad[$_GET["id"]]["roll"] == admin) {echo "checked"; };?>>
               </td>
               <td>
                  Admin
               </td>
           </tr>
        </table>
    </form>   
</div> 
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
</div>
