<?php
   if (!isset($_SESSION["ostukorv"])) { // tagame, et korv on olemas
        if ($_SESSION["logitud"] && isset($_SESSION["kasutajanimi"])){
	         $_SESSION["ostukorv"] = hangi_ostukorv($_SESSION["kasutajanimi"]); 
        } else {
             $_SESSION["ostukorv"] = array();
	    }         
   } 
?> 

<?php
   if (isset($_SESSION["teated"])) {
       echo $_SESSION["teated"];
       unset($_SESSION["teated"]);
   }
?> 

<div id="ostukorvsuur">
    <h1>Ostukorv</h1>
     
    Ostukorvis on <div id="paljutooteidkorvis"><?php echo count($_SESSION["ostukorv"]); ?></div> toodet!
    <br/>
    <br/>
      
     <?php if(!empty($_SESSION["ostukorv"])):?>
     
     <div id="kuikorvisonmidagi">
       <table id="korvitabel">
           <tr>
              <th></th> 
              <th>Pealkiri</th> 
              <th>Hind</th> 
              <th>Kogus</th> 
              <th>Summa</th>
              <th></th> 
           </tr>
         <?php
         $summa = 0;
          foreach($_SESSION["ostukorv"] as $id => $korvitoode): 
          $summa += $korvitoode*$supermas[$id]["hind"];  ?> 
            <tr>
               <td><a href="?mode=toode&id=<?php echo htmlspecialchars($id);?>"><img class="soovitusedpic" src="<?php echo htmlspecialchars($supermas[$id]['pilt1']);?>" width="80" alt='toode' /></a></td>
               <td class="pad1"><a href="?mode=toode&id=<?php echo htmlspecialchars($id);?>"><b><?php echo htmlspecialchars($supermas[$id]["toote_nimetus"]);?></b></a></td> <!--pealkiri-->
               <td class="pad1"><?php echo number_format(htmlspecialchars($supermas[$id]["hind"]), 2 , "," , " " ), "€";?></td> <!--hind-->
               <td class="pad1"> 
               
                    <div class="lehenresimene">
                      <div class="votauksvahemaks" data-row="<?php echo htmlspecialchars($id);?>">
                         <div class="passiivne">
                            <a><b class="suurem">-</b></a> 
                         </div>
                      </div>
                    </div>
                    
              <div class="mitutk"><?php echo htmlspecialchars($korvitoode);?></div>          
                 
                    <div class="lehenresimene">
                     <div class="paneuksjuurde" data-row="<?php echo htmlspecialchars($id);?>">
                       <div class="passiivne">
                         <a><b class="suurem">+</b></a>
                       </div> 
                     </div> 
                    </div>
                </td>     
               <td class="pad1"><?php echo number_format(htmlspecialchars($korvitoode*$supermas[$id]["hind"]), 2 , "," , " " ), "€";?></td> <!--hind korda kogus-->
               <td class="pad1"><a><b class="eemaldatoode" data-row="<?php echo htmlspecialchars($id);?>">X</b></a></td>
            </tr>
         <?php  endforeach; ?> 
             <tr>
              <td></td> 
              <td></td>  
              <td></td> 
              <td><b>Kokku:</b></td>  
              <td><?php echo number_format(htmlspecialchars($summa), 2 , "," , " " ), "€";?></td> 
              <td></td>
           </tr> 
     </table>
      
       <br/>
       <br/>
     
     <div id="korvituhjendaja">Tühjenda ostukorv</div>
     
       <br/>
       <br/>
       <br/>
    <form method="POST" action="?mode=ostukorv">
         <button name="korvitooted" value="<?php echo 'array(';
                  foreach($_SESSION["ostukorv"] as $id => $toode){ echo '\''.$id.'\'=&gt;\''.$toode.'\',';}
         ?>" type="submit" style="font-size: 30px;" >Telli</button>
    </form>
       <br/>
       <br/>
     
     
       </div> <!--kuvatakse kui tooted on ostukorvis-->
      <?php endif; ?> 
    </div><!--siin loppeb suurpostukorv-->
   

 
  </div> <!--siin loppeb pea-->
   
