
  <br>
   <div id="soovitused">
     <h2>Tech Store soovitab:</h2>
  
       <?php foreach($soovitused as $id => $soovitus): ?>
          <div class="soovitus">
            <a href="<?php echo '?mode=toode&amp;id=', htmlspecialchars($soovitus['toote_id']);?>"> 
               <img class="soovitusedpic" src="<?php echo 'thumb/', htmlspecialchars($soovitus['toote_id']), '.jpg';?>" width="233" alt='toode' />
            </a>
            <a href="<?php echo '?mode=toode&amp;id=', htmlspecialchars($soovitus['toote_id']);?>"> 
               <div class="tootenimi"><?php echo htmlspecialchars($soovitus["toote_nimetus"]);?></div>
            </a>
            <table style="width:100%">
               <tr>
                  <td>• <?php echo htmlspecialchars($soovitus["tabel1a"]);?></td>
                  <td><?php echo htmlspecialchars($soovitus["tabel1b"]);?></td> 
               </tr>
               <tr>
                  <td>• <?php echo htmlspecialchars($soovitus["tabel2a"]);?></td>
                  <td><?php echo htmlspecialchars($soovitus["tabel2b"]);?></td> 
               </tr>
               <tr>
                  <td>• <?php echo htmlspecialchars($soovitus["tabel3a"]);?></td>
                  <td><?php echo htmlspecialchars($soovitus["tabel3b"]);?></td> 
               </tr>
            </table>
            <br/>
            <?php foreach(${$soovitus["toote_kat"]} as $id => $toode):
               if($toode["toote_id"] == $soovitus['toote_id']): ?>
	              <div class="vanahind"><?php if($toode["vanahind"] != 0.00){echo htmlspecialchars($toode["vanahind"]);}?></div>
                  <div class="hind"><?php echo number_format(htmlspecialchars($toode["hind"]), 2 , "," , " " ), "€"; ?></div> 
             <?php   endif;
	        endforeach; ?>

            <div class="lisaostukorvi2" data-row="<?php echo htmlspecialchars($soovitus['toote_id']);?>"> <a>Lisa Ostukorvi</a></div>
         </div>
      <?php  endforeach; ?>
      
    </div> <!--siin l6ppevad soovitused-->   
   <br>
          
      <div id="eripakkumised">
        <h2>Eripakkumised:</h2>
            
        <?php foreach($eripakkumised as $id => $eripakkumine): ?>
          <div class="soovitus">
            <a href="<?php echo '?mode=toode&amp;id=', htmlspecialchars($eripakkumine['toote_id']);?>"> 
               <img class="soovitusedpic" src="<?php echo 'thumb/', htmlspecialchars($eripakkumine['toote_id']), '.jpg';?>" width="233" alt='toode' />
            </a>
            <a href="<?php echo '?mode=toode&amp;id=', htmlspecialchars($eripakkumine['toote_id']);?>"> 
               <div class="tootenimi"><?php echo htmlspecialchars($eripakkumine["toote_nimetus"]);?></div>
            </a>
            <table style="width:100%">
               <tr>
                  <td>• <?php echo htmlspecialchars($eripakkumine["tabel1a"]);?></td>
                  <td><?php echo htmlspecialchars($eripakkumine["tabel1b"]);?></td> 
               </tr>
               <tr>
                  <td>• <?php echo htmlspecialchars($eripakkumine["tabel2a"]);?></td>
                  <td><?php echo htmlspecialchars($eripakkumine["tabel2b"]);?></td> 
               </tr>
               <tr>
                  <td>• <?php echo htmlspecialchars($eripakkumine["tabel3a"]);?></td>
                  <td><?php echo htmlspecialchars($eripakkumine["tabel3b"]);?></td> 
               </tr>
            </table>
            <br/>
           <?php foreach(${$eripakkumine["toote_kat"]} as $id => $toode):
               if($toode["toote_id"] == $eripakkumine['toote_id']): ?>
	              <div class="vanahind"><?php if($toode["vanahind"] != 0.00){echo htmlspecialchars($toode["vanahind"]);}?></div>
                  <div class="hind"><?php echo number_format(htmlspecialchars($toode["hind"]), 2 , "," , " " ), "€"; ?></div> 
             <?php   endif;
	        endforeach; ?>
            <div class="lisaostukorvi2" data-row="<?php echo htmlspecialchars($eripakkumine['toote_id']);?>"> <a>Lisa Ostukorvi</a></div>
         </div>
      <?php  endforeach ?>
       
    </div>
  <br/>
  <br/>
</div>

<div id="teade"> 
   Toode lisati ostukorvi! 
   <?php if(!isset($_SESSION["logitud"])) {
   echo "<br/>Ostukorvi nägemiseks logige sisse!";    
   };?> 
</div>
