
   <div id="sisselogimine">
      <span> Registreerimine: </span>
      <br>
      
      <br>
      
      <form action="?mode=registreerimine" method="POST">
       <table>
          <tr>
            <td>Kasutajanimi:</td>
            <td><input type="text" name="kasutajanimi" value="<?php 
                if(!empty($_POST['kasutajanimi'])){
                     echo htmlspecialchars($_POST['kasutajanimi']); 
                } ?>"/><td>
          </tr>
          <tr>
            <td>Parool:</td>
            <td><input type="password" name="parool"/><td>
          </tr>
          <tr>
            <td>Parool:</td>
            <td><input type="password" name="parool2"/><td>
          </tr>
       </table>
       <br>
       <input type="submit" value="Registreeri"/>
       <br/>
        <?php if(!empty($veateated)){
           foreach($veateated as $id => $error){ 
               echo $error; 
           } 
        }?>
      </form>
   <br>
   </div> 
           
   
   
   </div> <!--siin loppeb pea-->
   
  