   

   <div id="sisselogimine">
      <span> Sisselogimine: </span>
      <br> 
      <br>
      
      <form action="?mode=sisselogimine" method="POST">
        <table>
          <tr>
            <td>Kasutajanimi:</td>
            <td><input type="text" name="kasutajanimi" value="<?php 
                if(!empty($_POST['kasutajanimi'])){
                     echo htmlspecialchars($_POST['kasutajanimi']); 
                } ?>"/><td>
          </tr>
          <tr>
            <td>Parool:</td>
            <td><input type="password" name="parool"/><td>
          </tr>
         </table>
       <br/>
       <input type="submit" value="Logi sisse"/>
       <br/>
        <?php if(!empty($veateated)){
           foreach($veateated as $id => $error){ 
               echo $error; 
           } 
        }?>
      </form>
      
      
      <p>Ei ole veel kasutajat? <a href="?mode=registreerimine"> <b>Registreeri</b>  </a> </p>
      
      
   </div> 
           
   
   
   </div> <!--siin loppeb pea-->
   
 