<form method="GET" action="?mode">
  <br/>
  <input type="submit" name="mode" value="tellimuse haldus" style="position:absolute; right:135px; font-size: 18px;">
  <select name="id" style="font-size: 18px; margin-left:270px;">
      <?php foreach($tellimused as $id => $tellimus){ ?>
	      <option><?php echo htmlspecialchars($tellimus['id']) . ' - ' . htmlspecialchars($tellimus['kasutaja']) . '  (' . htmlspecialchars($tellimus['kuupaev']) . ')'; ?></option>    
      <?php } ?> 
  </select>

</form>   
   
<br/>
   
</div>