
<div id="ostukorvsuur">
    <h1>Tellimuste haldur</h1>
    
    Tellimus nr. <?php echo $tellimus["id"]; ?><div id="tellimuseinfo1"> kustutati edukalt</div>. 
    <br/>
    <div id="tellimuseinfo2">Tellimus sooritati <?php echo $tellimus["kuupaev"]; ?>. <br/>
    Tellimuses on <div id="paljutooteidkorvis"><?php echo count($tellimus["tooted"]); ?></div> toodet.  <br/>
    Tellimus sooritati kasutaja <?php echo $tellimus["kasutaja"]; ?> poolt.
    </div>
    <br/>
    <br/>
      
     <?php if(!empty($tellimus)):?>
     
     <div id="kuikorvisonmidagi">
       <table id="korvitabel">
           <tr>
              <th></th> 
              <th>Pealkiri</th> 
              <th>Hind</th> 
              <th>Kogus</th> 
              <th>Summa</th>
              <th></th> 
           </tr>
         <?php
         $summa = 0;
          foreach($tellimus["tooted"] as $id => $korvitoode): 
          $summa += $korvitoode*$supermas[$id]["hind"];  ?> 
            <tr>
               <td><a href="?mode=toode&id=<?php echo $id;?>"><img class="soovitusedpic" src="<?php echo $supermas[$id]["pilt1"];?>" width="80" alt='toode' /></a></td>
               <td class="pad1"><a href="?mode=toode&id=<?php echo $id;?>"><b><?php echo $supermas[$id]["toote_nimetus"];?></b></a></td> <!--pealkiri-->
               <td class="pad1"><?php echo number_format($supermas[$id]["hind"], 2 , "," , " " ), "€";?></td> <!--hind-->
               <td class="pad1"> 
               
                    <div class="lehenresimene">
                      <div class="votauksvahemaks" data-row="<?php echo $id;?>">
                         <div class="passiivne">
                            <a><b class="suurem">-</b></a> 
                         </div>
                      </div>
                    </div>
                    
              <div class="mitutk"><?php echo $korvitoode;?></div>          
                 
                    <div class="lehenresimene">
                     <div class="paneuksjuurde" data-row="<?php echo $id;?>">
                       <div class="passiivne">
                         <a><b class="suurem">+</b></a>
                       </div> 
                     </div> 
                    </div>
                </td>     
               <td class="pad1"><?php echo number_format($korvitoode*$supermas[$id]["hind"], 2 , "," , " " ), "€";?></td> <!--hind korda kogus-->
               <td class="pad1"><a><b class="eemaldatoode" data-row="<?php echo $id;?>">X</b></a></td>
            </tr>
         <?php  endforeach; ?> 
             <tr>
              <td></td> 
              <td></td>  
              <td></td> 
              <td><b>Kokku:</b></td>  
              <td><?php echo number_format($summa, 2 , "," , " " ), "€";?></td> 
              <td></td>
           </tr> 
     </table>
      
       <br/>
       <br/>
     
     <div id="tellimusekustutaja" data-row="<?php echo $tellimus['id']; ?>">Kustuta tellimus</div>
     
     <br/>
     <br/>
     <br/>
     <br/>
     Siin saate lisada tellimusse tooteid:
   <form method="GET" action="?mode"> <!--lisa toode nupp-->    
       <input type="submit" name="mode" value="lisa tellimusse" style="position:relative; top:60px; font-size: 18px;">
       <br/>
       <input type="hidden" name="id" value="<?php echo $tellimus['id']; ?>" style="display; none;">
       <select name="id2" style="font-size: 18px;">
          <?php foreach($supermas2 as $id => $toode){ ?>
	          <option><?php echo $toode; ?></option>    
          <?php } ?> 
       </select>
    </form>  
   
    
     
       <br/>
       <br/>
       <br/>
     
     
       </div> <!--kuvatakse kui tooted on ostukorvis-->
      <?php endif; ?> 
    </div><!--siin loppeb suurpostukorv-->
  </div> <!--siin loppeb pea-->
