
  <div id="tootelist5">
      <div id="tootekat5"> <!-- kategooriad-->
         <?php for ($y = 0; $y < 8; $y++ ) { 
              if ($y == 0) { ?>                  <!--esimeseks kategooriaks tuleb alati pealeht-->
	               <a href="?mode=pea">Pealeht</a>    
	          <?php } 
	          if (isset($_GET["pos"])){  
	               if(empty($positsioon[$y]) == false){ echo "<img class='nooleke5' src='nool1.png' height='12' alt='nooleke' />"; }?>
                   <a href="?mode=tooted&amp;pos=<?php 
                   $astmeid = $y+1;
                   for ($p = 0 ; $p < $astmeid; $p++ ) {
	                    if(isset($positsioon[$p])){
	                        echo rawurlencode($positsioon[$p]);
	                        if($p != $astmeid -1 ){
		                      echo '/';
	                        }   
                        }
	                    
                   }?>">
               <?php if(!empty($positsioon[$y])){ echo htmlspecialchars($positsioon[$y]);} ?></a>     
               <?php } else if($y==0){ ?>
	               <img class="nooleke5" src="nool1.png" height="12" alt="nooleke"/>
	               <a href="?mode=pea">Otsing</a> 
               <?php }          
           } ?> 
      </div>
   
      <?php if($leht == 1 && count($tulemused) != 0){ echo "<div id='mituleiti'>Leiti ", count($tulemused), " toodet</div>"; }?>
      
      <div class="lehenr"> 
          <!--esimese lehe link -->
          <div class="lehenresimene"><a  href="<?php  
                      $parameetrid = $_GET;
                      $parameetrid["leht"] = "1";
                      echo "kontroller.php?", str_replace("&", "&amp;" ,http_build_query($parameetrid));
                      ?>"><b>1</b></a> 
          </div>
          <div class="spacer"></div>
          <!--leht tagasi -->
          <?php 
                if($leht != 1){
	                echo "<div class='lehenrlinknool1'><a  href='";
                    $parameetrid = $_GET;
                    $parameetrid["leht"] = $leht-1;
                    echo "kontroller.php?", str_replace("&", "&amp;" ,http_build_query($parameetrid));
	                echo "'><img class='nooleke5' src='nool1vasak.png' height='22'  alt='nooleke'/></a> </div>";
	            };
	      ?> 
	            
          <!--hetke leht -->          
          <div class="lehenrlink"><b><?php echo $leht; ?></b>  </div>
          
          <!--leht edasi -->
          <?php 
                if($leht != ceil(count($tulemused)/$perleht)){
	                echo "<div class='lehenrlinknool2'><a  href='";
                    $parameetrid = $_GET;
                    $parameetrid["leht"] = $leht+1;
                    echo "kontroller.php?", str_replace("&", "&amp;" ,http_build_query($parameetrid));
	                echo "'><img class='nooleke5' src='nool1.png' height='22'  alt='nooleke'/></a> </div>";
	            };
	      ?>  
	      
          <!--viimane leht -->
          <div class="spacer"></div>
          <div class="lehenrviimane"><a  href="<?php 
                      $parameetrid = $_GET;
                      $parameetrid["leht"] = ceil(count($tulemused)/$perleht);
                      if ($parameetrid["leht"] == 0) {
                      $parameetrid["leht"] = 1;
                      }
                      echo "kontroller.php?", str_replace("&", "&amp;" ,http_build_query($parameetrid));
                      ?>"><b><?php if(count($tulemused) == 0){echo "1";} else { echo ceil(count($tulemused)/$perleht); }?></b></a> 
          </div>
      </div> <!--lehe numbrite div l6ppeb -->
    
      <div class="leheseaded"> <!--mitu tulemust lehel kuvatakse -->
           <?php foreach($tklehelnupud as $id => $lehel): ?>
                <div class="tooteidlehel<?php if($perleht==$lehel){echo "hov";}?>"><a  href="<?php 
                      $parameetrid = $_GET;
                      $parameetrid["perleht"] = $lehel;
                      echo "kontroller.php?", str_replace("&", "&amp;" ,http_build_query($parameetrid));
                      ?>"><b><?php echo $lehel ?> </b></a>  
                </div>
           <?php  endforeach ?>
      </div>
      
      <div class="leheseaded2"> <!--kuidas tulemused sorteeritakse -->
           <?php foreach($sortbynupud as $id => $lehel): ?>
                <div class="tooteidlehel<?php if($sortby==$lehel[1]){echo "hov";}?>"><a  href="<?php 
                      $parameetrid = $_GET;
                      $parameetrid["sortby"] = htmlspecialchars($lehel[1]);
                      echo "kontroller.php?", str_replace("&", "&amp;" ,http_build_query($parameetrid));
                      ?>"><b><?php echo htmlspecialchars($lehel[2]); ?><img class="nooleke5" src="nool1.png" height="15" alt="nooleke"/><?php echo htmlspecialchars($lehel[3]); ?></b></a>  
                </div>
           <?php  endforeach ?>
      </div>
      
   
      <!--v6etakse otsingutulemustest ainult konkreetse lehe osa ja valitakse kus kataloogis tooted on-->
         <?php    
         $tulemusedlehel = array();   //tulemustest kuvatakse konkreetse lehe osa

          for ($y = ($perleht*($leht-1)); $y < ($perleht*$leht); $y++) { 
	         if(array_key_exists($y, $tulemused)){ 
                 $tulemusedlehel[$y] = $tulemused[$y];
             }
          }
   
         
         foreach($tulemusedlehel as $id => $tulemus): //vaadatakse kus kataloogis konkreetne toode on probs ebavajalik
             if (isset($arvutikomponendid[$tulemus])){
	              $kataloog = "arvutikomponendid";
             } else if (isset($arvutilisaseadmed[$tulemus])){
	              $kataloog = "arvutilisaseadmed";
         }; 
         
        
         
         ?>
        <div class="toode">
             <div class="tootepilt5"> <a href="?mode=toode&amp;id=<?php echo htmlspecialchars($tulemus);?>"><img src="<?php echo htmlspecialchars(${$kataloog}[$tulemus]['pilt1']); ?>" width="170" alt="tootepilt"/>  </a></div>
             <div class="kast5">
                     <div class="tootepealkiri5"><a href="?mode=toode&amp;id=<?php echo htmlspecialchars($tulemus);?>"><?php echo htmlspecialchars(${$kataloog}[$tulemus]["toote_nimetus"]); ?></a></div>
                     <br/>
                     <div class="kirjeldus5">
                         <?php $lyhikir = substr(${$kataloog}[$tulemus]["kirjeldus"],0,140); 
                               echo htmlspecialchars($lyhikir);
                         ?>...
                     </div>
                     <div class="vanahind5"><?php echo htmlspecialchars(${$kataloog}[$tulemus]["vanahind"]);?></div>
                     <!-- number-format(number, komakohtade arv, komakohtade eraldaja, tuhandete eraldaja)-->
                     <div class="uushind5">Hind: <?php echo number_format(htmlspecialchars(${$kataloog}[$tulemus]["hind"]), 2 , "," , " " ), "€"; ?></div> 
                     <div class="lisaostukorvi5" data-row="<?php echo htmlspecialchars($tulemus);?>" > 
                        <a>Lisa Ostukorvi</a>
                     </div>
             </div>
         </div>  
     <?php  endforeach; 
     if(empty($tulemusedlehel)){ ?>
	     <div id="veateade">Toodet ei leitud!</div>
 
    <?php } ?>
     
    
    
   </div> <!-- tootelistilopp-->
   <br>
   <div class="lehenr"> 
          <!--esimese lehe link -->
          <div class="lehenresimene"><a  href="<?php  
                      $parameetrid = $_GET;
                      $parameetrid["leht"] = "1";
                      echo "kontroller.php?", str_replace("&", "&amp;" ,http_build_query($parameetrid));
                      ?>"><b>1</b></a> 
          </div>
          <div class="spacer"></div>
          <!--leht tagasi -->
          <?php 
                if($leht != 1){
	                echo "<div class='lehenrlinknool1'><a  href='";
                    $parameetrid = $_GET;
                    $parameetrid["leht"] = $leht-1;
                    echo "kontroller.php?", str_replace("&", "&amp;" ,http_build_query($parameetrid));
	                echo "'><img class='nooleke5' src='nool1vasak.png' height='22'  alt='nooleke'/></a> </div>";
	            };
	      ?> 
	            
          <!--hetke leht -->          
          <div class="lehenrlink"><b><?php echo $leht; ?></b>  </div>
          
          <!--leht edasi -->
          <?php 
                if($leht != ceil(count($tulemused)/$perleht)){
	                echo "<div class='lehenrlinknool2'><a  href='";
                    $parameetrid = $_GET;
                    $parameetrid["leht"] = $leht+1;
                    echo "kontroller.php?", str_replace("&", "&amp;" ,http_build_query($parameetrid));
	                echo "'><img class='nooleke5' src='nool1.png' height='22'  alt='nooleke'/></a> </div>";
	            };
	      ?>  
	      <div class="spacer"></div>
          <!--viimane leht -->
          <div class="lehenrviimane"><a  href="<?php 
                      $parameetrid = $_GET;
                      $parameetrid["leht"] = ceil(count($tulemused)/$perleht);
                      if ($parameetrid["leht"] == 0) {
                      $parameetrid["leht"] = 1;
                      }
                      echo "kontroller.php?", str_replace("&", "&amp;" ,http_build_query($parameetrid));
                      ?>"><b><?php if(count($tulemused) == 0){echo "1";} else { echo ceil(count($tulemused)/$perleht); }?></b></a> 
          </div>
      </div> <!--lehe numbrite div l6ppeb -->
         
   <br>


   </div>
   
   <div id="teade"> 
      Toode lisati ostukorvi! 
      <?php if(!isset($_SESSION["logitud"])) {
	  echo "<br/>Ostukorvi nägemiseks logige sisse!";    
      };?>
   </div>