
     <div id="tootekat5">
     
          <?php for ($y = 0; $y < 7; $y++) { 
                if ($y == 0) { ?>
	                <a href="?mode=pea">Pealeht</a>    
	            <?php } ?>
	            <?php if(empty(${$kataloog}[$y+1]) == false){ echo "<img class='nooleke5' src='nool1.png' height='12' alt='nooleke' />"; }?>
                <a href="?mode=tooted&amp;pos=<?php 
                      $astmeid = $y+2;
                      for ($p = 1 ; $p < $astmeid; $p++ ) {
	                      echo rawurlencode(${$kataloog}[$p]);
	                      if($p != $astmeid -1 ){
		                      echo "/";
	                      }
                      }?> ">
                      <?php if(empty(${$kataloog}[$y+1]) == false){ echo ${$kataloog}[$y+1];} ?></a>        
          <?php }; ?>  
          
     </div>
     <div id="tooteleht">     
     
         
     
     
        <div class="tootepealkiri"><?php echo htmlspecialchars(${$kataloog}["toote_nimetus"]); ?></div> 
        <div class="tootekood">Toote ID: <?php echo htmlspecialchars($tooteid); ?></div>
        <br>
       
            <div id="kirjeldusjahind">
                <div class="lisaostukorvi1" data-row="<?php echo htmlspecialchars($tooteid);?>"><a>Lisa Ostukorvi</a></div>
                <div class="tootevanahind"><?php if(${$kataloog}["vanahind"] != 0.00){echo htmlspecialchars(${$kataloog}["vanahind"]);}?></div>
                <div class="tootehind">Hind: <?php echo number_format(htmlspecialchars(${$kataloog}["hind"]), 2 , "," , " " ), "€"; ?></div>
                <div id="kirjeldus"> <?php echo htmlspecialchars(${$kataloog}["kirjeldus"]); ?></div> 
            </div>
            
            <div id="pildidkirjeldus">
             <div id="tootepildid">
                <div class="suurpilt">
                     <img class="tootekorvalpildid" src="loading.jpg" width="460" alt="loading"/>
                </div>
                
                <div id="tootepeapilt">
                    <a href=""><img class="tootepeapilt1" src="<?php echo htmlspecialchars(${$kataloog}['pilt1']); ?>" width="233" alt="peapilt"/></a>
                </div> 
                <div>
                    <div>
                        <a href=""> <img class="tootekorvalpildid" src="<?php echo htmlspecialchars(${$kataloog}['pilt2']); ?>" width="118" alt="pilt2"/></a>
                    </div>
                    <div>
                        <a href=""><img class="tootekorvalpildid" src="<?php echo htmlspecialchars(${$kataloog}['pilt3']); ?>" width="118" alt="pilt2"/></a>
                    </div>
                    <div>
                        <a href=""><img class="tootekorvalpildid" src="<?php echo htmlspecialchars(${$kataloog}['pilt4']); ?>" width="118" alt="pilt2"/></a>
                    </div>
       
                </div>
            </div>
         
          
        </div>
        <br>
        
          <table style="width:100%">
            <tr>
            <th>Tootekirjeldus</th>
            <th></th>   
            </tr>
            
            <?php for ($x = 0; $x < 20; $x++) {
                       if(empty(${$kataloog}[$x+16]) == false){
	                       echo "<tr>"; 
                           echo "<td>" . ${$kataloog}[$x+16] . ":</td>"; 
                           echo "<td>" . ${$kataloog}[$x+36] . "</td>"; 
                           echo "</tr>"; 
                       }
            }; ?>
        </table>
        <br/>

     
     </div>        
   
    
   
   </div>
   <div id="teade"> 
      Toode lisati ostukorvi!
      <?php if(!isset($_SESSION["logitud"])) {
	  echo "<br/>Ostukorvi nägemiseks logige sisse!";    
      };?>
   </div>

