<form method="GET" action="?mode">
  <br/>
  <input type="submit" name="mode" value="muuda kasutaja rolli" style="position:relative; top:50px; right:-280px; font-size: 18px;">
  <select name="id" style="font-size: 18px; margin-left:150px;">
      <?php foreach($kasutajad as $id => $kasutaja){ ?>
	      <option><?php echo htmlspecialchars($id); ?></option>    
      <?php } ?> 
  </select>
 
</form>   
   
<br/>
<br/>
<br/>
</div>
